@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
  font-family: georgia, serif;
  line-height: 130%;
  background-color: #630;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url(../images/here-s-coco.jpg);
  background-size: contain;
  background-position: center;
  margin: .5em;
}

main {
  margin: 0em;
}

header {
  padding: .5rem 0;
  background-color: #4d2600;
}

header h1 {
  color: #fff;
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

figure {
  margin: 0;
  background-color: #995c00;
  color: #fff;
  text-align: center;
  padding-bottom: .5em;
}

figure h2 {
  font-family: "Indie Flower", cursive;
  color: #fff;
  margin-bottom: 1.3rem
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  margin: 1em;
}

nav a {
    display: block;
    padding: .5em .5em;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
  background-color: #fff;
  color: #630;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.3rem;
}

nav li {
  text-align: left;
}

h2 {
  font-family: "Indie Flower", cursive;
  color: #fff;
  font-size: 2rem;

}

dt {
  text-align: left;
  margin:
}


.menu img {
  display: block;
  width: 100%;
}

.location img {

}

.location p {
  text-align: center;
  color: #fff;
}

.location img {
  display: block;
  width: 100%;
}

.hours  {
  color: #fff;
}

.btn{
  background-color: #4d2800;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: 1.125em;
  border-style: solid;
  border-color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #4d2800;
  border-color: #4d2800;
}

.about p {
  margin: 2em;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #630;
  color: #fff;
  text-align: center;
  padding: 5px
}

@media only screen and (min-width: 25em) {

  html {
   font-size: 100%;
   line-height: 1.3;
 }

 h1,
 p {
   margin: 0 0 1.3rem;
 }

  nav li {
    text-align: center;
  }

}
